.user-container {
    width: 60%;
    margin-left: 18%;
    background-color: #fafbfc;
    font-family: 'Roboto Condensed';

    .container-user {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img.user-avatar {
            width: 25%;
            height: 210px;
            border-radius: 100px;
            margin-top: 5%;
        }

        .user-name {
            font-size: 50px;
            margin: 0px;
        }

        .user-location {
            font-size: 25px;
        }

        .repository-button {
            width: 43%;
            height: 53px;
            margin: 5px;
        }
        
        > textarea {
            background-color: #fafbfc;
            width: 43%;
            border: none;
            overflow: auto;
            font-size: 18px;
        }
        
        > li {
            font-size: 25px;
        }

    }
}