.user-list-container {
    align-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    font-family: 'Cabin Sketch';
    justify-content: center;
    position: relative;

    .button-more{
        margin-bottom: 5px;
    }

    .card.text-center {
        margin-bottom: 2%;
        flex-basis: 37%;
        margin-left: 3%;

        .card-avatar{
            width: 23%;
            margin-top: 3%;
        }
    }

    .title {
        color: #363636;
        font-size: 58px;
        line-height: 1.125;
        width: 100%;
        margin-left: 30%;
        margin-bottom: 3%;
    }
}
