body{

    .banner-home
    {
        align-items: center;
        background-image: url("imgs/inspectocat.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -67%;
        display: flex;
        flex-direction: column;
        margin-left: 17%;
        min-height: 700px;
    }

    .home-page{
        font-family: 'Cabin Sketch'
    }

    .subtitle
    {
        color: #363636;
        font-size: 23px;
        line-height: 1.6;
    }

    .title
    {
        color: #363636;
        font-size: 58px;
        line-height: 1.125;
    }
   
}